
<div id="clanInfo" class="row">
    <div class="col-md-12">
        <img ng-src="{{cc.userClan.badgeUrls.large}}" id="userShield">
        <h1 class="userClanName">{{cc.userClan.name}}</h1>
        <div class="clanDescription">
            <h3 class="description">{{cc.userClan.description}}</h3>
            <h2 class="attLabel country">Country</h2>
            <h3 class="location">{{cc.userClan.location.name}}</h3>
            <h2 class="attLabel level">Clan Level</h2>
            <h3 class="level">{{cc.userClan.clanLevel}}</h3>
            <h2 class="attLabel warWins">War Wins</h2>
            <h3 class="wins">{{cc.userClan.warWins}}</h3>
        </div>
    </div>
</div>