<div id='playerInfo'>
    <div id='playerTitle'>
        <div>    
            <img class='playerClanShield' ng-src='{{hc.userInfo.clan.badgeUrls.large}}' alt="">
            <h1 class='playerName'>{{hc.userInfo.name}}</h1>
            <sub>{{hc.userInfo.tag | uppercase}}</sub>
            <h3 id='playerClanDisplay'>
                {{hc.userInfo.clan.name}}
            </h3>
            <hr>
            <h4>Town Hall {{hc.userInfo.townHallLevel}}</h4>
            <h4>Player Level: {{hc.userInfo.expLevel}}</h4>
            <h4>Trophies: {{hc.userInfo.trophies}}</h4>
            <h4>War Stars: {{hc.userInfo.warStars}}</h4>
            <h4>Clan Rank: {{hc.userInfo.role | uppercase}}</h4>
            <h4>Donations: {{hc.userInfo.donations}}</h4>
            <h4>Offensive Wins: {{hc.userInfo.attackWins}}</h4>
            <h4>Defensive Wins: {{hc.userInfo.defenseWins}}</h4>
        </div>
    </div>
    
</div>