<div>
	<section id="introduction" class="row">
		<article class="what col-md-4 col-sm-12">
			<p>
				Ever wanted to chat with the clan you are at war with? &nbsp; Clash Mash was built to allow warring clans to interact in ways they've never been able to before.
			</p> 
			<ul id="assets">
				<li>Exchange strategies</li>
				<li>Organize friendly wars</li>
				<li>Make new friends</li>
			</ul>
		</article>
		<article class="signin col-md-4 col-sm-12">
			<form id="join" ng-submit="wc.getUserInfo()" name="wc.join">
				<label for="userClanID">Player ID</label>
				<input id="userClanID" type="text" ng-model="wc.userClanID" placeholder="Player ID" required>
				<input type="submit" value="Ready To Mash">
			</form>
			<div ng-show="wc.playerNotFound" class="error">{{wc.playerNotFound}} Player ID not found!</div>
			<p>Your Player ID can be found directly below your name in the My Profile tab while in-game.</p>
		</article>

		<article class="why col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
			<ol>
				<li>Enter ID</li>
				<li>Clash Mash</li>
			</ol>
		</article>
	</section>
</div>