/*Global*/

body {
	padding: 2.3em 1em 0em 1em;
	/* background-image: url("../img/background.png"); */
	background-color: #eee;
	height: 100vh;
	font-family: 'Alegreya Sans', monospace, sans-serif;
}

#view-container {
	min-height: 30em;
	padding: 0px 0 6em 0;
}

/*Header*/

#clan-shield {
	height: 2.8em;
	position: absolute;
	right: 0.4em;
	top: 0.35em;
}

#banner {
	background-color: orange;
	position: fixed;
	z-index: 100;
	right: 0;
	top: 0;
	box-shadow: #333 0px 1px 5px;
	left: 0;
	border-bottom: 1px solid black;
	width: 100%;
	height: 3em;
}

#submenu {
	z-index: 50;
	position: absolute;
	box-shadow: 1px 1px 8px #333;
	text-align: center;
	left: 0;
	padding: 0.8em 2px 0 0;
	right: 0;
	height: 2.4em;
	background-color: #fff;
	border-radius: 5px;
	display: none;
}

.reveal {
	display: block !important;
}

#submenu-navlinks {
	padding: 0;
}

#submenu-navlinks li {
	display: inline;
	list-style: none;
	text-decoration: none;
	margin: 0 0.7em;
	color: black;
	font-weight: 700;
}

#submenu-navlinks a:hover {
	text-decoration: none;
}

#submenu.slide-down {
  -webkit-animation: 0.2s slide-down normal forwards;
  animation: 0.2s slide-down normal forwards;
  display: block;
}

#submenu.slide-up {
  -webkit-animation: 0.2s slide-up normal forwards;
  animation: 0.2s slide-up normal forwards;
}

/*.slide.ng-animate-start,
.slide.ng-animate-active {
  top:0;
}

.slide.ng-enter {
	transition: .5s linear all;
	-webkit-transition: .5s linear all;
	top: 0px;
}

.slide.ng-enter.ng-enter-active {
	top: 1em;
}

.slide.ng-leave {
	transition: .5s linear all;
	-webkit-transition: .5s linear all;
	top: 1em; 
}

.slide.ng-leave-active {
	top: 0px;
}*/


/*Welcome*/

.title {
	text-align: center;
	font-size: 2em;
	vertical-align: middle;
	margin: 6px 0.4em;
	display: inline-block;
	font-family: 'Dosis', monospace, sans-serif;
	font-weight: 700;
}

.exploder {
	max-width: 33px;
	vertical-align: text-bottom;
	position: relative;
}

#introduction {
	height: auto;
}

#assets {
	font-size: 1em;
	list-style: none;
	text-align: center;
	position: relative;
	left: -1em;
}

.what, .why {
	font-weight: 700;
	text-align: left;
	border-radius: 3px;
	padding: 2em 1.1em 0;
}

.what {
	text-indent: 1.5em;
	font-size: 1.2em;
	font-weight: 300;
}

.why ol {
	text-align: center;
}

.why ol li {
	margin: 0em 4px 0 1em;
	font-size: 1.8em;
}

#join {
	text-align: center;
}

#join input {
	text-align: center;
	font-size: 1.1em;
	border-radius: 3px;
	height: 28px;
	border: 1px solid #333;
	width: 65%;
	font-family: 'Dosis', monospace, sans-serif;
}

#join label {
	display: block;
	margin: 2em 0 0.3em 0;
	font-size: 2.4em;
}

#join input[type="submit"] {
	margin: 0.3em 0 0.4em 0;
	background-color: orange;
	box-shadow: 2px 3px 5px 1px #333;
	font-size: 1.2em;
	height: auto;
	width: auto;
}

input[type="submit"]:hover {
	background-color: blue;
	color: white;
}

.error {
	text-align: center;
	font-size: 1.5em;
	color: red;
}

.signin p {
	text-align: center;
	font-weight: 700;
}

/*Footer*/

#footer {
	position: fixed;
	bottom: -0.8em;
	right: 0;
	background-color: orange;
	left: 0;
}

#quiklink {
	font-size: 1.4em;
	padding: 0em 0 0.5em 0;
	text-align: center;
	display: block;
}

#quiklink a {
	color: #333;
	display: inline;
}

#fbook {
	width: 1.1em;
	background-color: linen;
	border-radius: 4px;
	margin: 0 0 3px 0;
}

hr {
	border: 1px solid #333;
	margin: 0;
	border-radius: 1px;
}

/*Home*/

#playerInfo * {
	text-align: center;
	font-family: 'Alegreya Sans', monospace, sans-serif;
	font-weight: 700;
}

#playerTitle h1{
	margin: 1em 0 0 0;
	font-family: 'Dosis', monospace, sans-serif;
}

.playerClanShield {
	width: 1.7em;
}

#playerClanDisplay {
	border: 1px solid #333;
	font-family: 'Dosis', monospace, sans-serif;
	border-radius: 5px;
	box-shadow: #333 1px 2px 2px;
	background-color: linen;
	padding: 0.3em 0 0 0;
}



/*ClashRoom*/

#chat {
	text-align: center;
	box-shadow: 2px 2px 2px black;
	background-color: #FFF;
	border: 2px solid black;
	height: 500px;
	padding: 0.5em;
	border-radius: 10px;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Signika Negative', Monospace, sans-serif;
}

#chat ul {
	list-style: none;
	padding: 0;
}

.userChatShield, .oppChatShield {
	max-width: 2em;
}

.oppMessage {
	text-align: right;
	list-style: none;
}

.firstMessage {
	text-align: center;
	font-size: 2em;
}

.message {
	text-align: left;
	list-style: none;
}

.messageText {
	max-width: 10em;
	display: inline;
	word-wrap: break-word;
}

#userClanInfo h1, h2, h3{
	font-family: Alegreya Sans, Monospace, sans-serif;
}

#oppClanInfo h1, h2, h3 {
	font-family: Alegreya Sans, Monospace, sans-serif;
}

#input {
	border: 2px solid black;
	border-radius: 8px;
	margin-top: 1vh;
	width: 78%;
	height: 2.5em;
	box-shadow: 2px 2px 2px black;
	font-size: 1.5em;
}

#userClan, #oppClan {
	text-align: center;
}

#userShield, #oppShield {
	max-width: 25%;
}

.attLabel {
	text-decoration: underline;
}

.description {
	min-height: 15vh;
	text-indent: 2em;
	font-size: 1.7em;
}

#masher {
	margin: 1vh 0 0 1vh;
	width: 19%;
	border-radius: 8px;
	background-color: #333;
	height: 2em;
	color: #fff;
	font-size: 2em;
}

@media screen and (max-width: 800px) {
	#join label {
		font-size: 2.3em;
		margin: -0.3em 0 0 0;
	}

	.clanDescription {
		display: none;
	}
}

@media screen and (max-width: 662px) {

	.exploder {
		max-width: 48px;
	}

	#input {
		width: 76%;
		margin: 0 0 1em 0;
	}

	#chat {
		margin: 0em 0 0 0;
	}
}

@media screen and (max-width: 440px) {
	.title {
		font-size: 1.9em;
		margin: 2px 0 0 4px;
	}

	#banner {
		height: 2.5em;
	}

	#clan-shield {
	height: 2.4em;
	right: 0.4em;
	top: 0.25em;
}

	#assets {
		font-size: 0.8em;
		margin: 0 0 -1em 0;
		left: -2em;
	}

	#join input[type="submit"] {
		font-size: 1.6em;
	}

	.what {
		font-size: 1.2em;
		margin: -0.4em 0 16px 0;
	}

	.why {
		padding: 1em 1em 0;
	}

	/* Footer */
	#footer {
		position: fixed;
		bottom: -0.8em;
		right: 0;
		background-color: orange;
		left: 0;
	}

	.userClanName, .oppClanName {
		font-size: 2.3em;
	}

	#userClanInfo h1, h2, h3{
		margin: 0 0 0.2em 0;
		font-weight: 700;
	}

	#oppClanInfo h1, h2, h3 {
		margin: 0 0 .2em 0;
		font-weight: 700;
	}

	.description {
		font-size: 1.5em;
	}

	.attLabel {
		font-size: 2em;
	}

	.location, .level, .wins {
		font-size: 1.7em;
	}

	.messageText {
		font-size: 1em;
	}

	.firstMessage {
		font-size: 1.5em;
	}

	#input {
		width: 76%;
		margin: 0 0 0.5em 0;
	}

	#masher {
		height: 2.6em;
		font-size: 1.4em;
		width: 20%;
	}
	
}

@media screen and (max-height: 440px) {
	#view-container {
		padding: .5em 1em 0em 1em;
	}
	
	#footer {
		display: none;
	}
}

/*Keyframes*/

@-webkit-keyframes slide-up
{
  0%   {top:1em;}
  100%  {top:0;}
}

@keyframes slide-up
{
  0%   {top: 2.4em;}
  100%  {top:0;}
}

@-webkit-keyframes slide-down
{
  0%  {top:0;}
  100%   {top:1em;}
}

@keyframes slide-down
{
  0%  {top:0;}
  100%   {top: 2.4em;}
}