html, body {
	padding: 1em;
	background-image: url("../img/background.png");
	height: 100vh;
	font-family: Acme, sans-serif;
}

.title {
	text-align: center;
	font-size: 6em;
	margin: 4vh 0 5vh 0;
	font-family: Acme, sans-serif;
}

#introduction {
	height: 80vh;
}

.what, .why {
	font-weight: 700;
	text-align: center;
	border-radius: 3px;
	height: auto;
}

.what {
	font-size: 2em;
	text-indent: 3em;
	text-align: justify;
	line-height: 1.6em;
	letter-spacing: 1.4px;
	margin-top: 1em;
}

.why ol li {
	margin-top: 1em;
	text-align: left;
	padding: 0 0 0 1vw;
	font-size: 3em;
}

#join {
	text-align: center;
}

#join input {
	text-align: center;
	margin: 0 0 1vh 0;
	font-size: 1.1em;
	border-radius: 3px;
	height: 5vh;
	border: 1px solid #333;
	width: 80%;
	font-family: Righteous, monospace, sans-serif;
}

#join label {
	display: block;
	margin: 0;
	font-size: 1.3em;
}

#join input[type="submit"] {
	background-color: darkgreen;
	font-size: 2em;
	height: auto;
}

input[type="submit"]:hover {
	background-color: blue;
	color: white;
}

hr {
	border: 1px solid #333;
	border-radius: 1px;
}

#chat {
	text-align: center;
	box-shadow: 2px 2px 2px black;
	background-color: #FFF;
	border: 2px solid black;
	height: 61vh;
	border-radius: 10px;
	font-family: Acme, sans-serif;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: Righteous, Monospace, sans-serif;
}

#chat ul {
	list-style: none;
}

.userChatShield, .oppChatShield {
	max-width: 2em;
}

.oppMessage {
	text-align: right;
	list-style: none;
}

.firstMessage {
	text-align: center;
	font-size: 2em;
}

.message {
	text-align: left;
	list-style: none;
}

.messageText {
	max-width: 10em;
	display: inline;
	word-wrap: break-word;
}

#userClanInfo h1, h2, h3{
	font-family: Acme, Monospace, sans-serif;
}

#oppClanInfo h1, h2, h3 {
	font-family: Acme, Monospace, sans-serif;
}

#input {
	border: 2px solid black;
	border-radius: 8px;
	margin-top: 1vh;
	width: 82%;
	box-shadow: 2px 2px 2px black;
	font-size: 2em;
}

#userClan, #oppClan {
	text-align: center;
}

#userShield, #oppShield {
	max-width: 30%;
}

.attLabel {
	text-decoration: underline;
}

.description {
	min-height: 15vh;
	text-indent: 2em;
}

#masher {
	margin: 1vh 0 0 1vh;
	width: 16%;
	border-radius: 8px;
	background-color: #333;
	color: #fff;
	font-size: 2em;
}







