/*Global*/

body, html {
	height: 100%;
}

body {
	background-color: #333;
	font-family: 'Alegreya Sans', monospace, sans-serif;
	max-width: 100%;
	height: 85%;
}

#view-container {
	min-height: 30em;
	height: 100%;
}

#view {
	height: 100%;
	/* position: absolute; */
}

/*Header*/

#clan-shield {
	height: 2.8em;
	position: absolute;
	right: 0.4em;
	top: 0.15em;
	cursor: pointer;
}

#banner {
	background-color: orange;
	position: fixed;
	z-index: 100;
	right: 0;
	top: 0;
	box-shadow: #333 0px 1px 5px;
	left: 0;
	border-bottom: 1px solid black;
	width: 100%;
	height: 3em;
}

#submenu {
	z-index: 50;
	position: fixed;
	box-shadow: 1px 1px 8px #333;
	text-align: center;
	left: 0;
	padding: 0.8em 2px 0 0;
	right: 0;
	height: 2.4em;
	background-color: #fff;
	border-radius: 5px;
	display: none;
}

.reveal {
	display: block !important;
}

#submenu-navlinks {
	padding: 0;
}

#submenu-navlinks li {
	display: inline;
	list-style: none;
	text-decoration: none;
	margin: 0 0.7em;
	color: #333;
	font-weight: 700;
}

#submenu-navlinks a:hover {
	text-decoration: none;
}

#submenu.slide-down {
  -webkit-animation: 0.3s slide-down normal forwards;
  animation: 0.3s slide-down normal forwards;
  display: block;
}

#submenu.slide-up {
  -webkit-animation: 0.3s slide-up normal forwards;
  animation: 0.3s slide-up normal forwards;
}

/*.slide.ng-animate-start,
.slide.ng-animate-active {
  top:0;
}

.slide.ng-enter {
	transition: .5s linear all;
	-webkit-transition: .5s linear all;
	top: 0px;
}

.slide.ng-enter.ng-enter-active {
	top: 1em;
}

.slide.ng-leave {
	transition: .5s linear all;
	-webkit-transition: .5s linear all;
	top: 1em; 
}

.slide.ng-leave-active {
	top: 0px;
}*/


/*Welcome*/

.title {
	text-align: center;
	font-size: 2em;
	vertical-align: middle;
	margin: 6px 0.4em;
	display: inline-block;
	font-family: 'Dosis', monospace, sans-serif;
	font-weight: 700;
}

.exploder {
	max-width: 33px;
	vertical-align: text-bottom;
	position: relative;
}

#introduction {
	height: auto;
	margin: 2em 0 0 0;
	max-width: 100%;
	color: #eee;
}

#assets {
	font-size: 1em;
	list-style: none;
	text-align: center;
	position: relative;
	left: -1em;
}

.what, .why {
	font-weight: 700;
	text-align: left;
	border-radius: 3px;
	padding: 2em 1.1em 0;
}

.what {
	text-indent: 1.5em;
	font-size: 1.2em;
	font-weight: 300;
}

.why ol {
	text-align: center;
}

.why ol li {
	margin: 0em 4px 0 1em;
	font-size: 1.8em;
}

#join {
	text-align: center;
}

#join input {
	text-align: center;
	font-size: 1.1em;
	border-radius: 3px;
	height: 28px;
	border: 1px solid #333;
	width: 65%;
	font-family: 'Dosis', monospace, sans-serif;
}

#join label {
	display: block;
	margin: 2em 0 0.3em 0;
	font-size: 2.4em;
}

#join input[type="submit"] {
	margin: 0.3em 0 0.4em 0;
	background-color: orange;
	box-shadow: 2px 3px 5px 1px #333;
	font-size: 1.2em;
	height: auto;
	width: auto;
}

input[type="submit"]:hover {
	background-color: blue;
	color: white;
}

.error {
	text-align: center;
	font-size: 1.5em;
	color: red;
}

.signin p {
	text-align: center;
	font-weight: 700;
}

/*Footer*/

#footer {
	position: fixed;
	bottom: -0.8em;
	height: 3em;
	right: 0;
	background-color: orange;
	left: 0;
}

#quiklink {
	font-size: 1.4em;
	padding: 0em 0 0.5em 0;
	text-align: center;
	display: block;
}

#quiklink a {
	color: #333;
	display: inline;
}

#fbook {
	width: 1.1em;
	background-color: linen;
	border-radius: 4px;
	margin: 0 0 3px 0;
}

hr {
	border: 1px solid #333;
	margin: 0 auto;
	border-radius: 1px;
}

/*Home*/

.playerName {
	margin: 0 0 0 0;
	font-family: monospace, sans-serif;
	font-weight: 700;
}

#playerInfo {
	text-align: center;
	font-family: monospace, sans-serif;
	font-weight: 700;
	padding: 3.4em .5em 1.5em;
}

#playerTitle div {
	margin: 0 0 1em 0;
	font-family: 'Dosis', monospace, sans-serif;
	border: 1px solid #333;
	border-radius: 5px;
	box-shadow: #333 1px 2px 2px;
	min-height: 87vh;
	background-color: linen;
	padding: 0.3em 0 0 0;
}

#playerTitle div>* {
	font-family: monospace, sans-serif;
}

#playerTitle div hr {
	max-width: 65vw;
}

#playerTitle div sub {
	font-size: 1em;
}

.playerClanShield {
	max-width: 20vw;
}

#playerClanDisplay {
	font-family: 'Dosis', monospace, sans-serif;
	padding: 0.3em 0 0 0;
	font-weight: 700;
	margin: 1px 0 3px 0;
}



/*ClashRoom*/

#clashRoom {
	margin: 3.3em 0 0 0;
	height: 100%;
}

#chatWrap {
	height: 100%;
	padding: 0 0.5em;
}

#chatControls {
	z-index: 100;
	margin: 0 0 2em 0;
}

#chat {
	text-align: center;
	box-shadow: 0px 0px 1px black;
	background-color: #FFF;
	border: 2px solid black;
	height: calc(100vh - 9em);
	padding: 0.5em;
	border-radius: 10px;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Signika Negative', Monospace, sans-serif;
}

#chat ul {
	list-style: none;
	padding: 0;
}

.userChatShield, .oppChatShield {
	max-width: 1.8em;
}

.oppMessage {
	text-align: right;
	list-style: none;
}

.firstMessage {
	text-align: center;
	font-size: 2em;
}

.message {
	text-align: left;
	list-style: none;
	background-color: antiquewhite;
	width: 80%;
	border-radius: 0.4em;
	border: 1px solid black;
	margin: 1px 0 0 0;
	padding: 0.2em;
}

.messageText {
	max-width: 10em;
	display: inline;
	word-wrap: break-word;
}

#userClanInfo h1, 
h2, h3{
	font-family: Alegreya Sans, Monospace, sans-serif;
}

#oppClanInfo h1, h2, h3 {
	font-family: Alegreya Sans, Monospace, sans-serif;
}

#chatInput {
	border: 2px solid black;
	border-radius: 8px;
	width: calc(97vw - 4em);
	height: 1.6em;
	box-shadow: 0px 0px 1px black;
	font-size: 1.5em;
	margin: 0.3em 0 0.5em 0;
}

#userClan, #oppClan {
	text-align: center;
}

#userShield, #oppShield {
	max-width: 4.8em;
	margin: 1.3em 0 -1.8em 0;
}

.attLabel {
	text-decoration: underline;
	font-weight: 700;
}

#masher {
	margin: 1vh 0 0 -12px;
	width: 3em;
	float: right;
	padding: .2em;
	border-radius: 8px;
	background-color: #333;
	height: 2em;
	color: #fff;
	background: linear-gradient(to right bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 20%);
	font-size: 1.5em;
}

/*Clan Info*/

#clanInfo {
	max-width: 96%;
	padding: 3.5em 0.2em 2em;
	margin: 0 auto;
	text-align: center;
	color: #eee;
}

#clanInfo>div {
	border: 1px solid #333;
	border-radius: 5px;
	background-color: linen;
	color: #333;
}

.clanDescription h2, 
.clanDescription h3 {
	font-family:'Cutive Mono', sans-serif;
}

.description {
	min-height: 15vh;
	font-size: 1.5em;
	margin: 0 auto;
	font-weight: 500;
	width: 72vw;
}

.userClanName {
	font-family: 'Dosis', Georgia, 'Times New Roman', Times, sans-serif;
}

.userClanName, .oppClanName {
	font-size: 2.3em;
}

#userClanInfo h1, 
#userClanInfo h2,
#userClanInfo h3 {
	margin: 0 0 0 0;
	font-weight: 700;
}

.clanAtt {
	font-weight: 500;
	font-size: 1.3em;
	margin: 0 0 .3em 0;
}

.memberSearch {
	margin: 0 0 1em 0;
	border: 2px solid black;
	border-radius: 8px;
	box-shadow: 0px 0px 1px black;
}

#memberList {
	list-style: none;
	padding: 0;
	float: none;
	max-width: 95%;
	margin: 0 auto;
}

.memberListItem {
	font-size: 1.5em;
	border: 1px solid black;
	padding: 0.4em 0.8em 0;
	border-radius: 7px;
	box-shadow: 0px 0px 6px black;
	background-color: wheat;
	color: #333;
	margin: 0 0 0.4em 0;
}

.memberListItem h4 {
	font-weight: 700;
}

#memberListTitle {
	text-decoration: underline;
	margin: 0.2em 0 0.2em;
	font-weight: 700;
	font-size: 2.5em;
}

.memberName {
	background-color: cornsilk;
	border-radius: 4px;
	font-weight: 700;
	padding: 0.3em;
	box-shadow: 0 0 5px black;
	margin: 0;
}

.leagueShield {
	margin: -0.5em 0;
}

.trophy {
	max-width: 1.3em;
	vertical-align: text-bottom;
	margin: 0 5px 0 0;
}

/*Progress*/

#progress {
	max-width: 100%;
	text-align: center;
	padding: 3em 0 0 0;
	margin: 0;
	color: #eee;
}

#progressTitle {
	font-family: 'Dosis', Georgia, 'Times New Roman', Times, sans-serif;
}

@media screen and (max-width: 800px) {
	#join label {
		font-size: 2.3em;
		margin: -0.3em 0 0 0;
	}

	/*.clanDescription {
		display: none;
	}*/
}

@media screen and (max-width: 662px) {

	.exploder {
		max-width: 48px;
	}

	#input {
		width: 76%;
		margin: 0 0 1em 0;
	}

	#chat {
		margin: 0;
	}
}

@media screen and (max-width: 440px) {
	.title {
		font-size: 2.3em;
		margin: 2px 0 0 4px;
	}

	#banner {
		height: 3em;
	}

	#clan-shield {
	height: 3em;
	right: 0.2em;
	top: 0.05em;
}

	#assets {
		font-size: 0.8em;
		margin: 0 0 -1em 0;
		left: -2em;
	}

	#join input[type="submit"] {
		font-size: 1.6em;
	}

	.what {
		font-size: 1.2em;
		margin: -0.4em 0 16px 0;
	}

	.why {
		padding: 1em 1em 0;
	}

	/* Footer */
	#footer {
		bottom: -0.8em;
	}

	.description {
		font-size: 1em;
		text-align: center;
		width: 72vw;
	}

	.attLabel {
		font-size: 1.5em;
		margin: 0;
	}

	.location, .level, .wins {
		font-size: 1.5em;
	}

	.messageText {
		font-size: 1em;
	}

	.firstMessage {
		font-size: 1.5em;
	}

	#input {
		width: 82%;
		height: 2.3em;
		font-size: 1.1em;
		margin: 0 0.5em 1em 0;
	}

	#masher {
		height: 2.3em;
		font-size: 1.2em;
	}
	
}

@media screen and (max-height: 440px) {
	#view-container {
		padding: .5em 1em 0em 1em;
	}
	
	#footer {
		display: none;
	}

	#chat {
		height: 68vh;
	}

	.playerClanShield {
		max-width: 40vw;
	}
}

/*Keyframes*/

@-webkit-keyframes slide-up
{
  0%   {top:1em;}
  100%  {top:0;}
}

@keyframes slide-up
{
  0%   {top: 2.4em;}
  100%  {top:0;}
}

@-webkit-keyframes slide-down
{
  0%  {top:0;}
  100%   {top:1em;}
}

@keyframes slide-down
{
  0%  {top:0;}
  100%   {top: 2.4em;}
}